<h1 class="font-bold text-4xl text-blue-500" data-controller="autoreload">Carmel River Watch</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <%= render 'pages/river_data', river_data: @lagoon_data %>
  <%= render 'pages/river_data', river_data: @highway_data %>
</div>
